**/dist
**/node_modules
**/tmp
!.gitkeep
*.log
public/cwr.js

# Env files
**/.env
**/.env*.local

# Next.js
.next
out/

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
# bun.lockb

# Test files
**/coverage

# TypeScript
next-env.d.ts
*.tsbuildinfo
