@font-face {
    font-family: "CircularStd";
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    src: url("../assets/fonts/CircularStd-Black.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "CircularStd";
    src: url('../assets/fonts/CircularStd-Bold.woff2') format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    font-named-instance:"Regular"
  }
  
  @font-face {
    font-family: "CircularStd";
    src: url('../assets/fonts/CircularStd-Book.woff2') format("woff2");
    font-weight: 450;
    font-display: swap;
    font-style: normal;
    font-named-instance:"Regular"
  }
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'CircularStd';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E4E4F1;
    margin-left: 5rem;
}

body,
input,
select,
button {
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

option {
    text-align-last: center;
}

b,
i,
p,
span {
    hyphens: auto;
}

a {
    text-decoration: none;
}

button,
fieldset,
input {
    border: none;
}

button {
    background: none;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

input,
select {
    background: transparent;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
    }
}

option {
    border-bottom: none;
}

label {
    cursor: text;
}
