PORT=3333
NODE_ENV=development

DATABASE_URL="postgresql://username:password@localhost:5432/zaimu"
BETTER_AUTH_SECRET="gere-um-segredo-com-pelo-menos-32-caracteres"
BETTER_AUTH_URL="http://localhost:3333"
PUBLIC_WEB_URL="http://localhost:5173"

SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="usuario"
SMTP_PASSWORD="senha"
SMTP_FROM="Zaimu <nao-responda@example.com>"
